body {

}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin-right: 11px;
    padding: 8px 10px;

    border-radius: 3px;
    border: 2px solid white;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    border: 2px solid #23b7a4;
    background: #23b7a4;
}

.section-title {
    position: relative;
    margin-bottom: 60px;
    padding-left: 25px;

    color: #292f36;
    font-size: 36px;
    text-transform: uppercase;
}

.work-title,
.features-title {
    color: #fff;
}

.section-title::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 10px;
    height: 35px;
    background-color: #e1e6ea;
    z-index: 10;
}

.header {
    background-color: #1d2126;
}
.logo {
    float: left;
    padding: 32px 0;
}

.menu {
    float: left;
    margin-left: 300px;
}

.menu-item {
    display: inline-block;
    margin: 26px 10px 25px;
}

.menu-link {
    display: inline-block;
    padding: 8px 10px;

    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
}

.menu-item:hover {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #5b6168;
}

.menu-item-active {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #23b7a4;
}

.menu-item-active .menu-link {
    color: #23b7a4;
}

.banner {
    background: #3a454d url("../img/banner.jpg")
}
.welcome-title {
    padding-top: 220px;

    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

.welcome-text {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 740px;

    font-size: 16px;
    color: #ccd0d7;
    line-height: 26px;
}

.welcome-btns {
    padding-bottom: 250px;
}

.about {
    padding-top: 80px;
    background: #fff;
    border-bottom: 1px solid #dde1e4;
}

.about-missions {
    width: 655px;
    float: left;
    line-height: 26px;
}

.mission {
    margin-bottom: 26px;
    color: #8d8f92;
}

.mission em {
    font-weight: bold;
}

.mission-second-part {
    margin-bottom: 55px;
}

.about-social {
    margin-bottom: 100px;
}

.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;

    font-size: 0;
    text-decoration: none;

    background: #c8cdd0 url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
    background-color: #d0d5d9;
}

.about-goals {
    margin-left: 685px;
}

.goal {
    position: relative;
    padding-left: 70px;
}

.goal::before {
    position: absolute;
    width: 50px;
    height: 15px;
    padding: 17px 0;
    content: '';
    top: 0;
    left: 0;
    z-index: 10;
    background: #23b7a4;
    color: #fff;
    text-align: center;
}

.goal-1::before {
    content: '01';
}

.goal-2::before {
    content: '02';
}

.goal-3::before {
    content: '03';
}

.goal-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.goal-text {
    margin-bottom: 25px;
    color: #8d8f92;
    font-size: 16px;
    line-height: 26px;
}

.team,
.services,
.contact {
    padding-top: 80px;
    background-color: #fff;
}

.team-member {
    margin-left: 30px;
    margin-bottom: 100px;
    float: left;
    width: 263px;
    background-color: #e1e6ea;
}

.team-member:first-child {
    margin-left: 0;
}
.member-info {
    padding-left: 20px;
}

.member-name {
    padding-top: 20px;
    font-size: 16px;
    color: #292f36;
    text-transform: uppercase;
}

.member-position {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #8d8f92;
}

.member-2,
.member-4 {
    width: 262px;
}
.work,
.features {
    padding-top: 80px;
    color: #fff;
    background-color: #3a454d;
    padding-bottom: 60px;
}

.portfolio-img {
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}

.portfolio-img:nth-child(3n+1) {
    margin-left: 0;
}

.work-more {
    width: 151px;
    margin: 0 auto;
}

.more-btn {
    padding: 8px 5px;
}

.services-item {
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    width: 262px;
    font-size: 16px;
}

.services-item:nth-child(n+5) {
    margin-top: 90px;
    margin-bottom: 165px;
}

.services-item:nth-child(4n+1) {
    margin-left: 0;
}

.services-img {
    margin: 0 auto 35px;
    width: 48px;
}

.services-item-title {
    margin-bottom: 30px;
    color: #292f36;
    text-transform: uppercase;
    text-align: center;
}

.services-item-text {
    color: #8d8f92;
    text-align: center;
    line-height: 26px;
}

.post-item {
    width: 360px;
    float: left;
    margin-left: 30px;
    margin-bottom: 120px;
}

.post-item:first-child {
    margin-left: 0;
}

.post-item-img {
    margin-bottom: 55px;
}
.post-item-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.post-item-text {
    color: #dcdfe1;
    text-align: center;
    line-height: 26px;
}

.map {
    margin-bottom: 60px;
}

.contact-info {
    width: 555px;
}

.contact-info-title {
    color: #292f36;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-info-text {
    margin-bottom: 100px;
    color: #8d8f92;
    line-height: 26px;
    font-size: 16px;
}

.contact-text {
    margin-top: 40px;
}

footer {
    color: #fff;
    background-color: #3a454d;
}

.copyright {
    padding: 38px 0;
}
