body {
    background-color: #a376bd;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    margin-right: 11px;
    padding: 8px 10px;

    border-radius: 3px;
    border: 2px solid white;

    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    border: 2px solid #23b7a4;
    background: #23b7a4;
}

.header {
    background-color: #1d2126;
}
.logo {
    float: left;
    padding: 32px 0;
}

.menu {
    float: left;
    margin-left: 390px;
}

.menu-item {
    display: inline-block;
    margin: 26px 10px 25px;
}

.menu-link {
    display: inline-block;
    padding: 8px 10px;

    text-transform: uppercase;
    text-decoration: none;
    color: #a4aead;
}

.menu-item:hover {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #5b6168;
}

.menu-item-active {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #23b7a4;
}

.menu-item-active .menu-link {
    color: #23b7a4;
}

.banner {
    background: #3a454d url("../img/banner.jpg")
}
.welcome-title {
    padding-top: 220px;

    text-transform: uppercase;
    font-size: 36px;
    color: #fff;
}

.welcome-text {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 740px;

    font-size: 16px;
    color: #ccd0d7;
}

.welcome-btns {
    padding-bottom: 250px;
}